{
  "project_info": {
    "project_number": "1079456150582",
    "project_id": "recipe-app-501c1",
    "storage_bucket": "recipe-app-501c1.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1079456150582:android:0dce078eee0fb90c509497",
        "android_client_info": {
          "package_name": "com.example.recipe_app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyDY-VdrZ9RAX0PRtUNrPT7plLLZVyLT7yk"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}